<%- include('../partials/header') %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="text-decoration-none text-info" href="/">Home</a></li>
      <li class="breadcrumb-item text-white active" aria-current="page">Profile</li>
    </ol>
  </nav>
  <h2 class="text-center">Profile:</h2>
  <h3 class="text-center"><%= profile.name %> </h3>
  <div class="row">
    <div class="col-8 offset-2">
      <form class="form" action="/profiles" method="POST">
      <% if(profile.authentication.key) { %>
          <div class="input-group mb-3">
            <input type="text" class="form-control bg-secondary text-white border-dark" value="<%= profile.authentication.key.authenticationKey.key %>" disabled>
          <% } else { %>
            <div class="input-group mb-3">
            <input type="text" class="form-control bg-secondary text-white border-dark" placeholder="Generate a new auth key" aria-label="Generate a new auth key" disabled>
          <% } %>
            <button class="btn btn-secondary border-dark" type="submit">Generate Authorization Key</button>
          </div>
      </form>
    </div>
    <% if(profile.authentication.key) { %>
      <div class="col-8 offset-2">
        Example API Endpoint
        <ul class="list-group">
          <li class="list-group-item">
            <%= protocol %>://<%= host %>/api/<%= profile.email %>:<%= profile.authentication.key.authenticationKey.key %>/collections
          </li>
        </ul>
    <% } %>
      </div>
  </div>
</div>

<%- include('../partials/footer') %>